.header {
    height: 70px;
    width: 100%;
    background-color: rgb(0, 127, 218);
    border-bottom: 1px solid rgb(0, 149, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
}
.header h1 {
    font-size: 25px;
    font-weight: 900;
    text-shadow: 0px 0px 10px #333;
}

@media screen and (max-width: 500px) {
    .header h1 {
        font-size: 20px;
    }
}