@import "container.css";
@import "header.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s!important;
}

